:root {
  --blend-color-light: hsla(0, 0%, 100%, 0.5);
  --primary-color: #297be0;
}

* {
  box-sizing: border-box;
}

*:focus-visible {
  outline: 0 none;
  box-shadow: 0 0 0 3px var(--blend-color-light), 0 0 0 3px var(--primary-color);
  border-color: var(--primary-color);
}

body {
  height: 100vh;
  padding: 1rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  font-family: Inter, Roboto, Helvetica, sans-serif;
}

input {
  min-width: 200px;
  padding: 1rem;
  border-radius: 6px;
  border: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

button,
a {
  width: 100%;
  max-width: 200px;
  color: white;
  border-radius: 7px;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  text-align: center;
  border: none;
}

.table-group {
  display: flex;
}

.blue {
  background-color: #297be0;
}

.blue:hover {
  background: #124C92;
}

.green {
  background-color: #1e9955;
}

.green:hover {
  background-color: #055c2c;
}

.btn-group {
  display: flex;
  gap: 1rem;
}