.actionbar {
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--blue-800);

  @media (max-width: 600px) {
    padding: 1rem
  }

  li:nth-child(3) {
    padding-left: 1rem;
    border-left: 1px solid var(--blue-800);

    @media (max-width: 600px) {
      padding-left: 0;
      border-left: 0;
    }
  }

  span {
    color: var(--cool-gray-400);
  }

  li:hover {
    .actionbar__icon--map {
      rect {
        fill: var(--blue-500);
      }

      rect:nth-child(1) {
        fill: var(--blue-700);
      }

      path {
        stroke: var(--blue-50);
      }
    }

    .actionbar__icon--refresh {
      rect {
        fill: var(--blue-700);
      }

      path:nth-child(2) {
        fill: var(--blue-500);
      }

      path:last-child {
        fill: var(--blue-50);
      }
    }

    span {
      color: var(--blue-50);
    }
  }

  .btn:hover {
    .actionbar__icon--play {
      rect {
        fill: var(--teal-500);
      }

      path {
        fill: var(--teal-200);
      }
    }

    .actionbar__icon--stop {
      rect:nth-child(1) {
        fill: var(--red-500);
      }

      rect:nth-child(2) {
        fill: var(--red-200);
      }
    }
  }
}