.btn-group {
  display: flex;
  gap: 1rem;
}

.btn {
  cursor: pointer;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  max-width: max-content;

  @media (max-width: 600px) {
    padding: 0.3rem 0.5rem 0.3rem 0.75rem;
    font-size: 0.8rem;
  }

  &:hover {
    .btn__chevron {
      path {
        transition: all 150ms ease-out;
      }

      path:nth-child(1) {
        d: path("M1.5 6L10.5 6");
      }

      path:nth-child(2) {
        transform: translateX(4px);
      }
    }
  }

  &__chevron {
    margin-left: 0.3rem;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;

    @media (max-width: 600px) {
      transform: translateY(2px);
    }
  }

  &__navbar {
    @media (max-width: 992px) {
      display: none;
    }
  }

  &__pause,
  &__play {
    position: absolute;
    left: -19px;
    top: 330px;
    background-color: transparent;
    border: none;
    padding: 0;
    transform: scale(3);
    cursor: pointer;

    @media (max-width: 568px) {
      top: 430px;
      transform: scale(5);
    }
  }

  &__pause svg {
    transition: all 150ms ease-in;
  }

  &--primary {
    background-color: var(--blue-500);
    color: var(--blue-50);
    border-radius: 100vh;

    &:hover {
      background-color: var(--blue-500);
    }

    &:active {
      background-color: var(--blue-400);
    }
  }

  &--secondary {
    border: 1px solid var(--blue-50);
    background-color: transparent;
    color: white;

    &:hover {
      background-color: var(--blue-800);
    }

    &:active {
      background-color: var(--blue-700);
    }
  }

  &--tertiary {
    background-color: transparent;
    color: var(--cool-gray-400);
    padding: 0;
  }

  &--has-icon {
    height: 22px;
  }

  &--white {
    background-color: var(--blue-50);
    color: var(--blue-500);
  }

  &--unstyled {
    padding: 0;
    background-color: transparent;
    color: var(--blue-500);
  }
}