.btn-group {
  display: flex;
  gap: 1rem;
}

.btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 100vh;
  padding: 7px 15px;
  letter-spacing: -0.1px;
  font-size: 0.8rem;
  max-width: max-content;
  border: none;
  transition: all 100ms ease-in;

  &--primary {
    background-color: var(--primary-color);
    color: var(--blue-100);

    &:hover {
      background-color: var(--blue-600);
    }
  }

  &--secondary {
    color: white;
    border: 1px solid var(--blue-100);
    background-color: transparent;

    &:hover {
      background-color: var(--blue-800);
    }
  }

  &--tertiary {
    color: var(--blue-900);
  }

  &--white {
    background-color: var(--blue-100);
    color: var(--primary-color);
  }
}
