.indicator {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  gap: 1rem;
  min-width: 110px;
  border-radius: 5px;

  &__content {
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
  }

  &__title {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem 0.8rem;
    align-items: center;
    justify-content: center;
    background-color: var(--cool-gray-50);
    text-transform: uppercase;
  }

  &__light {
    width: 14px;
    height: 14px;
    border-radius: 100vh;
    background-color: var(--cool-gray-400);

    &-table {
      margin: auto;
    }

    &--success {
      background-color: var(--teal-500);
    }

    &--fail {
      background-color: var(--red-400);
    }
  }

  &__failed {
    display: flex;
    justify-content: center;
    gap: 0.3rem;
    border-radius: 5px 5px 0 0;

    &--relay {
      padding: 0.7rem 0.9rem;
    }

    &-icon {
      min-width: 36px;

      circle {
        stroke: var(--blue-gray-200);
        fill: none;
      }

      &--fail {
        circle {
          fill: var(--red-200);
        }

        path {
          stroke: var(--red-500);
        }
      }
    }

    &-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-text h4 {
      text-align: left;
      font-size: 0.6rem;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      color: var(--blue-gray-400);
    }

    &-text h5 {
      margin-top: -4px;
      font-weight: 600;
      letter-spacing: -0.5px;
    }

    &-text--dark-theme {
      h5 {
        color: var(--blue-gray-50);
      }
    }
  }
}