.main {
  position: relative;
  margin-left: 375px;
  padding: 2rem;  

  &::before {
    content: "";
    height: calc(100vh - 138px);
    position: absolute;
    inset: 0;
    width: 100%;
    background-image: url(/images/ds-network-pattern-3-alpha@2x.png);
    opacity: 0.03;
  }

  @media (max-width: 600px) {
    margin-left: 0;
    margin-top: 250px;
  }
}