.modal {
  position: relative;
  display: none;
  position: fixed;
  inset: 0;
  max-height: 100%;
  background-color: transparent;
  padding: 2rem;
  z-index: 999;
  overflow-y: scroll;

  &:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 10px;
    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(5px);
    z-index: -2;
  }

  &__show {
    &--channels {
      display: grid;
      grid-template-columns: 110px 1fr;
      align-items: flex-start;
      gap: 1rem;
    }

    &--temps {
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: center;

      @media (max-width: 768px) {
        align-items: flex-start;
      }
    }
  }

  &__hide {
    display: none;
  }

  &__grid {
    display: grid;

    &-ct {
      width: 400px;
      height: 370px;
      background-color: #fff;
      border-radius: 5px;
      overflow: hidden;
    }

    &-temp {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      background-color: var(--blue-600);
      padding: 1rem;
      border-radius: 5px;
    }

    &--ct {
      gap: 1rem;
      grid-template-columns: repeat(4, 1fr);

      @media (max-width: 1700px) {
        grid-template-columns: repeat(3, 1fr);
      }

      @media (max-width: 1280px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 850px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    &--temp {
      gap: 2rem;
      grid-template-columns: repeat(4, 1fr);

      @media (max-width: 1400px) {
        grid-template-columns: repeat(3, 1fr);
      }

      @media (max-width: 1200px) {
        grid-template-columns: repeat(2, 1fr);
      }
      
      @media (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  &__btn-hide,
  &__btn-hide svg {
    circle {
      fill: var(--primary-color);
    }
    path {
      stroke: var(--blue-200);
    }

    &:hover {
      circle {
        fill: var(--blue-400);
      }
      path {
        stroke: var(--blue-100);
      }
    }
  }

  &__btn-hide {
    position: fixed;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
  }
}

.grid-item {
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: var(--blue-100);
  }

  &__title h3 {
    font-size: 1rem;
    letter-spacing: -1px;
  }
}
