.navbar {
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--blue-800);

  @media (max-width: 600px) {
    padding: 1rem;
  }

  &__logo {
    height: 50px;

    &--product {
      width: 25px;
    }
  }

  &__heading {
    display: flex;
    flex-direction: column;
    font-weight: 300;

    @media (max-width: 600px) {
      font-size: 0.8rem;
    }

    &--title {
      font-family: "NATS";
      font-size: 1.5rem;
      line-height: 0.8;
      letter-spacing: -0.6px;
      color: var(--yellow-200);
    }

    &--subtitle {
      color: var(--yellow-600);
      font-size: 0.7rem;
      font-family: Inter, sans-serif;
    }
  }
}
