table {
  border-collapse: collapse;

  td,
  th {
    padding: 0.8rem;
    color: var(--blue-900);
    text-align: center;
  }

  th {
    background-color: var(--blue-150);
    letter-spacing: -0.1px;
  }

  td {
    font-size: 0.8rem;
    background-color: white;
  }
}

.table {
  width: 100%;
  box-shadow: var(--shadow-sm);
  border-radius: 5px;

  &__1-col {
    th:first-child {
      border-radius: 5px 5px 0 0;
    }

    tr:not(:last-child) td {
      border-bottom: 1px solid var(--blue-200);
    }

    tr:last-child {
      td:last-child {
        border-radius: 0 0 5px 5px;
      }
    }
  }

  &__2-col {
    th {
      &:first-child {
        border-radius: 5px 0 0 0;
      }

      &:last-child {
        border-radius: 0 5px 0 0;
      }
    }

    tr {
      &:not(:last-child) {
        border-bottom: 1px solid var(--blue-200);
      }

      &:last-child {
        td:first-child {
          border-radius: 0 0 0 5px;
        }

        td:last-child {
          border-radius: 0 0 5px 0;
        }
      }

      td:not(:last-child) {
        border-right: 1px solid var(--blue-200);
      }
    }
  }

  &__progress {
    display: flex;
    justify-content: center;
    align-items: center;

    circle:nth-child(1) {
      transition: 0.35s stroke-dashoffset ease-out;
      transform: rotate(-90deg);
      transform-origin: 50% 50%;
      stroke: var(--cool-gray-400);
      stroke-width: 4;
      fill: transparent;
    }

    circle:nth-child(2) {
      transform: rotate(-90deg);
      transform-origin: 50% 50%;
      stroke: var(--cool-gray-400);
      stroke-width: 4;
      fill: transparent;
    }

    &-number {
      font-size: 0.8rem;
      padding-right: 0.5rem;
    }
  }

  &-group {
    display: flex;
    gap: 1rem;
  }

  &__row {
    position: relative;

    &--add-border {
      border-bottom: 1.1px solid var(--blue-200);
    }
  }

  &__heading {
    font-size: 0.9rem;
    background-color: var(--blue-150);
  }

  &__subheading {
    background-color: var(--blue-100);
    border-right: none !important;
  }

  &__tooltip {
    pointer-events: none;
    position: absolute;
    z-index: 999;
    width: 35ch;
    left: 100%;
    top: 50%;
    opacity: 0;
    padding: 1rem;
    border-radius: 5px;
    line-height: 1.4;
    color: var(--blue-900);
    background-color: white;
    transform: translateY(-50%);
    transition: all 150ms ease-in;
    box-shadow: 0px 0px 24px 0px hsla(213deg, 78%, 16%, 0.15);

    &::after {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      top: 50%;
      left: -25px;
      border: 15px solid hsla(0deg, 0%, 0%, 0);
      border-left: 12px solid hsl(0deg, 0%, 100%);
      transform: rotate(180deg) translateY(50%);
      z-index: 999;
    }
  }

  &__checkmark {
    background-image: url(../../../images/icons/icon_checkmark-regular.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 22px 22px;
  }

  &__x-mark {
    background-image: url(../../../images/icons/icon_close-filled.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 22px 22px;
  }
}

.btn:hover {
  .station__icon--charts {
    rect:nth-child(1) {
      fill: var(--blue-700);
    }

    rect:nth-child(2) {
      fill: var(--blue-100);
    }

    rect:nth-child(3) {
      fill: var(--primary-color);
    }

    rect:nth-child(4) {
      fill: var(--blue-100);
    }

    rect:nth-child(5) {
      fill: var(--primary-color);
    }
  }
}

.logo-loading {
  max-height: 18px;
  animation: rotate 2000ms linear forwards infinite;
  
  &--disable {
    animation: none;
  }
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}